<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>留言本</title>
  <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
</head>

<body>
  <div class="page-header container">
    <h1><a href="index.html">留言本</a> <small>首页</small></h1>
  </div>
  <div class="main container">
    <div class="head">
      <a class="btn btn-success" href="post.html">发表留言</a>
    </div>
    <ul class="list-group">
      <li class="list-group-item">
        <span class="badge">14</span> Cras justo odio
      </li>
      <li class="list-group-item">
        <span class="badge">14</span> Cras justo odio
      </li>
      <li class="list-group-item">
        <span class="badge">14</span> Cras justo odio
      </li>
      <li class="list-group-item">
        <span class="badge">14</span> Cras justo odio
      </li>
      <li class="list-group-item">
        <span class="badge">14</span> Cras justo odio
      </li>
      <li class="list-group-item">
        <span class="badge">14</span> Cras justo odio
      </li>
      <li class="list-group-item">
        <span class="badge">14</span> Cras justo odio
      </li>
      <li class="list-group-item">
        <span class="badge">14</span> Cras justo odio
      </li>
      <li class="list-group-item">
        <span class="badge">14</span> Cras justo odio
      </li>
      <li class="list-group-item">
        <span class="badge">14</span> Cras justo odio
      </li>
    </ul>
  </div>
</body>

</html>
